.header {
  grid-template-areas: "logo . menu .";
  grid-template-columns: 13.1rem minmax(0, 19rem) minmax(auto, 52rem) auto;

  >svg {
    grid-area: logo;
  }
}

.menu {
  grid-area: menu;

  >a {
    &.active {
      margin-bottom: -0.3rem;
      border-bottom: 0.3rem solid var(--white);
    }

    &:hover {
      margin-bottom: -0.3rem;
      border-bottom: 0.3rem solid var(--white);
    }

  }
}