.layout {
  display: grid;
  grid-template-areas:
    ". header ."
    ". body ."
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto minmax(55rem, 124rem) auto;
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}