.layout {
  grid-template-areas:
    ". header ."
    ". body ."
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}