.title-wrapper {
  &:after {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 20%;
    height: 20%;
    content: "";
    transform: translate(25%, -25%);
    background-image: url("strange-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}