.category {
  position: relative;
  width: min-content;
  white-space: nowrap;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  padding: 1rem 2.9rem;
  color: var(--light-grey);
  background-color: var(--dark-grey);
  box-shadow: 0.8rem 1.5rem 2.9rem 0 #171B2C69;
  border: none;
  border-radius: 0.7rem;
  overflow: hidden;

  &.selected {
    background-color: var(--white);
    color: var(--dark-grey);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--dark-grey);
    transition-duration: 0.3s;
  }

  &:after {
    content: "";
    background: var(--light-grey);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -2.9rem !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.6s
  }

  &:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
}