@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;600&display=swap');

:root {
  --font-base-size: 62.5%;
}

@layer base {
  html {
    font-family: "Fira Sans Condensed", system-ui, sans-serif;
    font-style: normal;
    font-size: var(--font-base-size);
  }
}

@layer components {
  .header-main {
    grid-template-areas: "logo . menu .";
  }

  .footer-content-main {
    grid-template-areas: "logo . contacts . nav";
  }
}

html,
body {
  background: linear-gradient(180deg, #24252F 0%, #31313F 36.46%, #242530 100%);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}