.footer {
  grid-template-areas: ". footer-content .";
}

.footer-content {
  grid-area: footer-content;
  grid-template-areas:
    "logo logo"
    "contacts nav"
}

.logo {
  grid-area: logo;
}

.contacts {
  grid-area: contacts;
}

.footer-menu {
  grid-area: nav;
  grid-auto-columns: min-content;
}